body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

* {
    -webkit-touch-callout: none !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header {
    background: gray;
    color: white;
    padding: 2px 5px;
}

.item {
    padding: 5px;
    border: 1px solid silver;
    margin: -1px 0 0 0;
}

.btn {
    -webkit-user-select: none !important;
    cursor: default;
    background: #EEE;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid gray;
    margin: 0 -1px 0 0;
    -webkit-transition: all .3s;
}

.btn.active {
    background: gray;
    color: white;
}

.game-list .item {
    cursor: default;
}

.game-info {
}

.game-info .top {
    overflow: hidden;
    margin: 0 0 30px 0;
}

.game-info .game-name {
    float: right;
}

.game-info .date {
    float: left;
}

.game-info .date .mode {
    font-size: 18px;
}

.game-info .team {
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

.game-info .team2 {
    text-align: right;
}

.game-info .score {
    display: inline-block;
    width: 200px;
    margin: 0 -100px;
    text-align: center;
    vertical-align: middle;
}

.game-info .score .big {
    font-size: 50px;
}

.my-line-up {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse
}

table th {
    background: silver;
}

table th, table td {
    text-align: left;
    border: 1px solid;
    padding: 4px 7px;
}

.line-up .player-name {
    width: 80%;
}

.line-up .right {
    text-align: right;
}

.game-page {

}

.game-page .enter {
    text-align: center;
}

.game-page .enter button {
    font-size: 18px;
}