body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important; /* Disable selection/copy in UIWebView */
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header {
    background: gray;
    color: white;
    padding: 2px 5px;
}

.item {
    padding: 5px;
    border: 1px solid silver;
    margin: -1px 0 0 0;
}

.btn {
    background: #EEE;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid gray;
    margin: 0 -1px 0 0;
    -webkit-transition: all .3s;
}

.btn.active {
    background: gray;
    color: white;
}

.game-info {
}
.game-info .top{
    overflow: hidden;
    margin: 0 0 30px 0;
}

.game-info .game-name {
    float: right;
}

.game-info .date {
    float: left;
}

.game-info .date .mode {
    font-size: 18px;
}

.game-info .team {
    float: left;
    font-weight: bold;
}

.game-info .team2 {
    float: right;
}

.game-info .score{
    text-align: center;
}
.game-info .score .big {
    font-size: 50px;
    margin: -20px 0 0 0;
}

